---
title: blog-page
page: blog-page
hero: {
  bg: 'bg-hero-blog-page.jpg',
  title: 'Как правильно расставлять приоритеты в отношениях и почему это важно',
  breadcrumbs: {
    list: [
      { link: 'Главная' },
      { item: '-' },
      { link: 'Блог' },
      { item: '-' },
      { link: 'Как правильно расставлять приоритеты в отношениях и почему это важно', modLink: 'is-active' }
    ]
  }
}
sectionBlog: {
  title: 'Читайте также',
  articles: [
    {
      title: 'Как правильно расставлять приоритеты
  в отношениях и почему это важно
  ',
      text: 'Не секрет, что многие пары испытывают
  проблемы в отношения, чувствуют себя
  неудовлетворенными и страдают...'
    },
    {
      title: 'Как правильно расставлять приоритеты
  в отношениях и почему это важно
  ',
      text: 'Не секрет, что многие пары испытывают
  проблемы в отношения, чувствуют себя
  неудовлетворенными и страдают...'
    },
    {
      title: 'Как правильно расставлять приоритеты
  в отношениях и почему это важно
  ',
      text: 'Не секрет, что многие пары испытывают
  проблемы в отношения, чувствуют себя
  неудовлетворенными и страдают...'
    }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-article.html" %}
  {% include "partials/sections/_s-blog.html" %}
{% endblock %}
