---
title: events
page: events
hero: {
  bg: 'bg-hero-events.jpg',
  title: 'События',
  breadcrumbs: {
    list: [
      { link: 'Главная' },
      { item: '-' },
      { link: 'События', modLink: 'is-active' }
    ]
  }
}
sectionEvents: {
  pagination: true,
  events: [
    {
      img: 'events/01.jpg',
      title: 'Групповой мастер-класс «Узнай себя 
  по-настоящему»
  ',
      text: '25 октября пройдет мастер-класс по
  познанию своего внутреннего мира
  от психотерапевта Лилии Шевченко...'
    },
    {
      img: 'events/02.jpg',
      title: 'Лекция для менеджеров среднего звена 
  «Как не выгореть на рабочем месте»',
      text: '25 октября пройдет мастер-класс по
  познанию своего внутреннего мира
  от психотерапевта Лилии Шевченко...'
    },
    {
      img: 'events/03.jpg',
      title: 'Групповой тренинг для офисных 
  работников «Спокойствие - как главная...',
      text: '25 октября пройдет мастер-класс по
  познанию своего внутреннего мира
  от психотерапевта Лилии Шевченко...'
    },
    {
      img: 'events/01.jpg',
      title: 'Групповой мастер-класс «Узнай себя 
  по-настоящему»
  ',
      text: '25 октября пройдет мастер-класс по
  познанию своего внутреннего мира
  от психотерапевта Лилии Шевченко...'
    },
    {
      img: 'events/02.jpg',
      title: 'Лекция для менеджеров среднего звена 
  «Как не выгореть на рабочем месте»',
      text: '25 октября пройдет мастер-класс по
  познанию своего внутреннего мира
  от психотерапевта Лилии Шевченко...'
    },
    {
      img: 'events/03.jpg',
      title: 'Групповой тренинг для офисных 
  работников «Спокойствие - как главная...',
      text: '25 октября пройдет мастер-класс по
  познанию своего внутреннего мира
  от психотерапевта Лилии Шевченко...'
    }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-events.html" %}
{% endblock %}
