<!-- begin footer -->
<footer class="footer">
 <div class="container">
   <div class="footer__inner">
     <div class="footer__logo">
       <a href="#" class="logo">
         <img class="js-lazy" alt="" src="" data-src="./img/logo-white.png"/>
       </a>
     </div>


     <div class="footer__copy">2019 &copy; Все права защищены.</div>

     <div class="footer__contacts">
       <!-- begin contacts-sm -->
       <div class="contacts-sm">
        <div class="contacts-sm__phone">
          <a href="tel:+380666678274">+38 (066) 667-82-74</a>
        </div>
        <div class="contacts-sm__btn">
          <button class="js-popup-open" data-popup-target="call">Заказать обратный звонок</button>
        </div>
      </div>
      <!-- end contacts-sm -->
    </div>

    <div class="footer__auth">
     <div class="footer__auth-icon">
       {{ mixins.icon('D') }}       
     </div>
     Сайт разработан <a href="#">Demiweb International</a>
   </div>
 </div>
</div>
</footer>
<!-- end footer -->