<!-- begin section -->
<section class="section">
  <div class="container">
    <!-- begin about-info -->
    <div class="about-info article">
      <img class="js-lazy" alt="" src="" data-src="./img/about/IMG_0596.jpg"/>


      <div class="title title--h3 title-block">
        <h3 class="title-block__title">Лилия Шевченко</h3>
        <div class="title-block__subttl">Психолог, Психотерапевт</div>
      </div>

      <p>Меня зовут Лилия Шевченко и я дипломированный психолог,
        сертифицированный психотерапевт, член восточноевропейской ассоциации гипнотерапевтов и клинических психологов. 
        Я увлечена и влюблена в психологию всю свою сознательную жизнь, 
      это мое вдохновение, а также любимая профессия.;</p>

      <p>Как это часто бывает, я решила поступить на факультет психологии 
        для решения своих личных психологических проблем. Мне казалось, 
        что я точно получу всю нужную информацию в процессе обучения, а если будет недостаточно - доберу из книг. Сейчас мне забавно вспоминать 
      об этом, так как волшебство контакта с другим человеком в процессе психотерапии невозможно переоценить и это именно тот важный процесс, который приводит к глубинным изменениям и трансформации личности.</p>

      <p>После окончания университета были годы обучения психотерапии, практика в психологических центрах и работа в социальных проектах, личная психотерапия, разработка и ведение тренингов личностного роста, обучающие программы, оттачивание мастерства 
      в супервизионных и интервизионных группах и многое другое.</p>

      <p> Сейчас я практикующий психотерапевт,  владеющий методами и техниками гештальттерапии, гипноза, когнитивно-поведенческой терапии, ОРКТ, НЛП и терапии субличностей, арт-терапии и все ещё продолжаю обучаться, пополняя копилку своих знаний и умений, интересуюсь новейшими исследованиями и открытиями в области нейробиологии, психологии и психотерапии. Благодаря этому я приобрела возможность применять индивидуальный подход к личности и запросу каждого клиента, использовать самые эффективные методы и психотерапевтические техники в процессе совместной работы. </p>

      <p>Я убеждена в том, что каждый может раскрыть свой потенциал и избавиться от деструктивных, мешающих счастливой жизни установок и убеждений. Поменять своё отношение к травмирующим событиям прошлого и выйти на новый уровень осознанности и восприятия. Понимать свои потребности
      и желания, научиться удовлетворять их адекватным способом. Познакомиться со своими чувствами, эмоциями и подружиться с ними.</p>

      <p>Я верю, что каждый человек УЖЕ обладает всеми необходимыми качествами и способностями для изменения своей жизни к лучшему и для решения возникающих на этом пути задач, но не всегда имеет к ним доступ или не видит решения, будучи вовлечённым в ситуацию. Я готова быть проводником, помощником, опорой в интересном и непростом, но очень увлекательном и вдохновляющем процессе познания себя. В поиске и нахождении ресурсов быть в гармонии с собой и с окружающим миром. Жить так, чтобы чувствовать себя удовлетворенно и счастливо.</p>
    </div>
    <!-- end about-info -->
  </div>
</section>
<!-- end section -->