{%set
features = [
  {
    icon: 'goal',
    title: '9+ лет опыта',
    text: 'Изучаю психологию с 2001 г., в 2008 г. закончила государственный 
университет и получила квалификацию «психолог» и «преподаватель 
психологии», уже более 10 лет обучаюсь разным направлениям
психотерапии и совершенствую мастерство, занимаюсь 
частной  практикой с 2010 года;'
  },
  {
    icon: 'file',
    title: 'Дипломированный
специалист',
    text: 'Я - дипломированный магистр психологии, гештальттерапевт гипнотерапевтом, НЛП-практиком, владею методами  ориентированной на результат краткосрочной терапии, когнитивно-поведенческой терапии, арт-терапии;



'
  },
  {
    icon: 'strategy',
    title: 'Эффективные техники',
    text: 'Использую интеграцию методов и техник разных направлений 
психотерапии для достижения результата в минимально
короткие сроки и с максимальной эффективностью
для каждого конкретного запроса.'
  },
  {
    icon: 'diagram',
    title: 'Не стою на месте',
    text: 'Постоянно развиваюсь как личность и как профессионал, 
участвую в семинарах, конференциях, интенсивах, 
регулярно прохожу личную психотерапию, 
супервизию и интервизию;'
  },
  {
    icon: 'protect',
    title: 'Мне можно доверять',
    text: ' Гарантирую полную конфиденциальность, безопасность,
индивидуальный подход и бережность в процессе 
совместной работы;'
  },
  {
    icon: 'address',
    title: 'Ко мне легко добраться',
    text: 'Мой кабинет находится рядом с метро в центре Киева, 
в нем уютно, есть чай-печеньки и до него легко 
добраться с любой части города.'
  },
  {
    icon: 'discussion',
    title: 'Гибкий формат',
    text: 'Предлагаю удобную форму работы: личные встречи или по скайпу,
индивидуально или в групповом формате, оговаривается 
периодичность встреч, критерии достижения результата, 
время и продолжительность психотерапии;

.'
  },
  {
    icon: 'friendship',
    title: 'Принимаю каждого',
    text: 'Принимаю человека таким, какой он есть, верю в то, 
что каждый обладает всеми необходимыми 
ресурсами и способностямидля изменения 
своей жизни к лучшему;'
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <!-- begin features-about -->
    <div class="features-about">
      <div class="row">
        {% for i in features %}
        <div class="col-sm-6">
          <!-- begin feature-about -->
          <div class="feature-about">
            <div class="feature-about__icon">
              {{ mixins.icon(i.icon) }}
            </div>

            <div class="feature-about__title">
              <h4 class="title title--h4">{{ i.title | safe }}</h4>
            </div>

            <div class="feature-about__text">{{ i.text | safe }}</div>
          </div>
          <!-- end feature-about -->
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- end features-about -->
  </div>
</section>
<!-- end section -->