<!-- begin section -->
<section class="section">
  <div class="container">
    <!-- begin article -->
    <div class="article">
      <p>Женщины, конечно, если даже не признаются вслух, то про себя на первое место поставят детей, но многие так втягиваются, что порой на мужа время выделяется по остаточному принципу. Для других, на первом месте родители. У мужчин другая крайность – работа или хобби. Он добытчик, главное принести в дом зарплату.  Но деньги сами по себе не дают радости. Появляется вторая работа, затем подработка, не остается сил и фантазии на получение той самой радости, которую может предоставить наличие денег. Жена требует тепла…разговоров, ресторанов, прогулок, гостей, хочет вырваться из дома, где все сконцентрировано на ребенке, а мужчина, проведя всю рабочую неделю в бесконечном действии, встречах, ресторанах, нуждается во сне и домашней суете. Часто, даже при наличии высокого дохода и темпа жизни, который его обеспечивает, постепенно теряется то, ради чего люди начали жить вместе.</p>

      <h5>Как же должно быть на самом деле?</h5>

      <p><em>Во-первых,</em> на первом месте и для мужчин, и для женщин, должен стоять сам человек и его партнер, надо видеть в нем личность и быть личностью самому. Не пытаться переделать/перевоспитать, нельзя копить недовольство и молчать, можно и нужно только принимать, или не принимать, не стоит тратить свою жизнь на то, с чем вы не можете мириться.</p>

      <p><em>На втором</em> – отношения с партнером, затем дети, за ними родители, а потом уже все остальное. Можно любить работу или хобби, но время для семьи
      – святое и ничто не должно этому мешать. Можно иметь ненормированный рабочий день, но отдых и выходные проводить только с семьей и вместе. Это своего рода компенсация, которая просто необходима, чтобы поддерживать уровень интереса, доверия, привязанности. Это касается и женщин. Разберем ситуацию, когда заболел ребенок. Понятно, что все силы и время уходят на заботу, но потом можно больше чем обычно времени уделить мужу. Можно сходить вдвоем куда-либо, даже если обычно вы брали ребенка с собой. Всегда можно договориться, с кем оставить малыша на пару часов. Конечно у каждого из нас в жизни много обязанностей, на исполнение которых необходимо время, деньги и прочие ресурсы. Однако регулярные дозы совместно проведенных развлечений могут помочь ощутить себя не только счастливее, но и ближе друг к другу. Отвлекаясь от рутины,  вы расслабляетесь, появляется дополнительная энергия, и вам хватает сил на все и всех.</p>

      <ul>
        <li>Психоанализ</li>
        <li>Работа над собой</li>
        <li>Любовь к себе</li>
        <li>Поиск партнера</li>
      </ul>

      <p>Помните – отношения в паре – самое главное.</p>

      <p>Это касается, как женщин, так и мужчин, и тогда никто не будет чувствовать себя одиноким, использованным и пр.
      </p>

      <p>Список взаимных обид и претензий можно продолжать до бесконечности. Не стоит доводить ситуацию до абсурда и зарываться в обидах и невысказанностях. Разговаривайте друг с другом. Не бойтесь спросить, правильно ли вы поняли друг друга, не домысливаете и не стройте в голове страшных картин. Доверяйте себе и партнеру.</p>

      <p>НЕТ ДОВЕРИЯ – нет и отношений.  Не копите в себе недовольство до тех пор, пока оно не прорвется наружу с такой силой, что сметет все на своем пути. Чаще спрашивайте партнера «Мне так хорошо рядом с тобой, ты так много для меня делаешь, что я могу сделать для тебя?» Если правильно расставлены приоритеты – то сил и энергии хватит на все.</p>

      <p>Тень «вырастает в чудовище», копится, набирает силу, притягивает другие воспоминания, которые мозг услужливо интерпретирует должным образом, </p>
    </div>
    <!-- end article -->
  </div>
</section>
<!-- end section -->