{%set
articles = [
  {
    title: 'Как правильно расставлять приоритеты
в отношениях и почему это важно
',
    text: 'Не секрет, что многие пары испытывают
проблемы в отношения, чувствуют себя
неудовлетворенными и страдают...'
  },
  {
    title: 'Как правильно расставлять приоритеты
в отношениях и почему это важно
',
    text: 'Не секрет, что многие пары испытывают
проблемы в отношения, чувствуют себя
неудовлетворенными и страдают...'
  },
  {
    title: 'Как правильно расставлять приоритеты
в отношениях и почему это важно
',
    text: 'Не секрет, что многие пары испытывают
проблемы в отношения, чувствуют себя
неудовлетворенными и страдают...'
  }
]
%}

<!-- begin section -->
<section class="section section--pb-lg">
  <div class="container">
    <div class="section__title">
      <h2 class="title title--h2">Блог</h2>
    </div>

    <div class="section__link">
      <a href="#" class="link">Все статьи</a>
    </div>

    <div class="row">
      {% for i in articles %}
      <div class="col-lg-4 col-md-6 col-sm-6">
        {{ mixins.card(
          title = i.title,
          meta = true,
          text = i.text,
          button = { title: 'Читать статью' }
        ) }}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- end section -->