
<!-- begin section -->
<section class="section{% if sectionEvents.mod %} {{ sectionEvents.mod }}{% endif %}">
  <div class="container">
    {% if sectionEvents.title %}
    <div class="section__title">
      <h2 class="title title--h2">{{ sectionEvents.title or 'События' | safe }}</h2>
    </div>
    {% endif %}

    {% if sectionEvents.link %}
      <div class="section__link">
        <a href="#" class="link">Ко всем событиям</a>
      </div>
    {% endif %}

    <div class="row">
      {% for i in sectionEvents.events %}
      <div class="col-lg-4 col-md-6 col-sm-6">
        {{ mixins.card(
          title = i.title,
          img = i.img,
          text = i.text,
          button = { title: 'Узнать о событии' }
        ) }}
      </div>
      {% endfor %}
    </div>

    {% if sectionEvents.pagination %}
    {{ mixins.list(
      name = 'pagination',
      modifications = { wrap: '', item: '', link: '' },
      list = [
          { link:  ' ', modLink: 'prev' },
          { link: '1' },
          { link: '2', modLink: 'is-active' },
          { link: '3' },
          { item: '...' },
          { link: '6' },
          { link:  ' ', modLink: 'next' }
        ]
    ) }}
    {% endif %}
  </div>
</section>
<!-- end section -->