<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__title">
      <h2 class="title title--h2">Образование</h2>
    </div>

    <!-- begin about-info -->
    <div class="about-info article">
      <img class="js-lazy" alt="" src="" data-src="./img/about/IMG_0606.jpg"/>

      <ul>
        <li>НПУ им Драгоманова, магистр психологии, психолог, преподаватель психологии;</li>
        <li>Повышение квалификации для практических психологов и социальных работников при научно-методическом центре практической психологии и социальной работы АПН Украины;</li>
        <li>Повышение квалификации «Актуальные вопросы психотерапии» УВМА;</li>
        <li>КЦ НЛП и тренингов, НЛП-практик;</li>
        <li>КИГИП, гештальт-консультирование;</li>
        <li>ВАГИП, Современный гипноз и гипнотерапия;</li>
        <li>ВАГИП, Аналитический гипноз и гипнотерапия;</li>
        <li>ВАГИП, Шоковый и невербальный гипноз;</li>
        <li>Классический ресурсно-ориентированный гипноз, Регрессивный гипноз и гипнотерапия, психологический центр «Зазеркалье»;</li>
        <li>Ориентированная на ресурс краткосрочная терапия, психологический центр «Зазеркалье»;</li>
        <li>КИРИП, Нейропсихология и психотерапия тревоги;</li>
        <li> Участие во II Международной конференции Ассоциации гештальт-тренеров Украины;</li>
        <li>Членство в восточноевропейской ассоциации гипнотерапевтов и клинических психологов.</li>
      </ul>
    </div>
    <!-- end about-info -->
  </div>
</section>
<!-- end section -->