<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__title">
      <h2 class="title title--h2">Как ко мне проехать</h2>
    </div>

    <!-- begin map -->
    <div class="map">
      <iframe class="js-lazy" src="" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.6909977117675!2d30.52848831602661!3d50.42822857947243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf1aac43b20f%3A0x355f6aba561a66fc!2z0YPQuy4g0JXQstCz0LXQvdC40Y8g0JrQvtC90L7QstCw0LvRjNGG0LAsIDI5LCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1570626146979!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <!-- end map -->
  </div>
</section>
<!-- end section -->