<!-- begin section -->
<section class="section">
  <div class="container">
    <!-- begin article -->
    <div class="article">
      <h5>Что будет на мастер-классе?</h5>

      <p>Восточное слово "чакра" достаточно прочно вошло в язык наших людей. Для кого-то оно является некой непонятной абстракцией, для кого-то символизирует древние знания, есть и такие, кто запросто использует это слово для описания процессов в собственном теле.</p>

      <p>Мы приняли древние знания о системе энергетических центров, чакр, человека за основу и продолжили их исследование в духе системного подхода. Каждую чакру мы рассматриваем как систему лепестков, выполняющую определенную функцию в рамках надсистемы – организма.</p>

      <p>Чакры – это система коммуникации с миром. Чакры – это способность задавать вопросы миру и слышать ответ. Когды мы знаем, чувствуем, переживаем. Как мы вплетены в мир? Когды мы слышим то, что должны, делаем то, что можем и с благодарностью принимаем то, что могут другие. На семинаре Чакры рассматриваются как резонансная система связи с миром. Каждая чакра – это уникальный фильтр Души. Чакры связывают Души людей в одну общую систему, позволяя чувствовать себя принадлежащей чему- то большему, чем просто «Я». Самое сложное – это разделить сигналы, где мое чувство Души, где чувства окружающего мира. Свободно перенастраивать себя, как систему. Настраивать каждый лепесток. Сфокусироваться на чакре помогает воспроизведение звука её корневой мантры. Звук есть вибрация, невидимая энергетическая волна. Именно вибрация создаёт магию сотворения: «В начале было Слово». Звук отражает состояние объекта и изменяет его.</p>

      <h5>Как записаться на мастер-класс?</h5>

      <p>Оставьте заявку на мастер-класс или позвоните по телефону на странице <a href="#">Контакты</a>.</p>
    </div>
    <!-- end article -->
  </div>
</section>
<!-- end section -->