<!-- begin section -->
<section class="section section--gray-lighten section--pt-lg section--pb-lg">
  <div class="container">
    <div class="section__title">
      <h2 class="title title--h2">Чего можно ожидать в результате нашей работы:</h2>
    </div>

    {{ mixins.list(
      name = 'list',
      modifications = { wrap: 'list--half', item: '', link: '' },
      list = [
        { item: 'Понимания себя, своих личностных и поведенческих особенностей, 
стереотипов, которые являются источником проблемных 
жизненных ситуаций;' },
        { item: 'Возможность выстраивать нужное взаимодействие с окружающими, 
способность решать конфликтные ситуации и находить компромиссы, 
улучшить отношения с партнером, близкими, друзьями;' },
        { item: 'Ревизии убеждений и установок, полученных в детстве и в процессе
жизни - какие из них полезны, а какие стоит изменить;' },
        { item: 'Обретение уверенности в себе и в своих
силах, повышение самооценки;' },
        { item: 'Нахождения ресурсов для достижения целей и изменения жизни
к лучшему, способность справляться со стрессом
и сложными жизненными обстоятельствами;' },
        { item: 'Способность выстраивать адекватные психологические границы
и отстаивать их, не разрушая свою жизнь и отношения 
со своими близкими' },
        { item: 'Эмоциональную устойчивость, избавления от обид, страхов, 
злости, эмоциональных блоков, способность проявлять 
чувства и выдерживать их проявления;' },
        { item: 'Умения справляться со своей тревогой в условиях 
неопределённости и непредсказуемости;' },
        { item: 'Понимания своих потребностей и желаний, а также 
наиболее подходящих способов их реализации;' },
        { item: 'Развитие способности получать удовольствие от жизни, от общения 
с людьми, фокусируясь на позитивных моментах
и оставаясь в реальности. ' },
        { item: 'Ощущение собственной ценности, принятия 
себя и своей уникальности;' }
      ]
    ) }}
  </div>
</section>
<!-- end section -->