{%set
services = [
  {
    img: 'IMG_6002.jpg',
    title: 'Саморазвитие',
    text: 'Личностный рост, познание себя,  нахождение новых жизненных 
смыслов, постановка целей и их  достижение, раскрытие
внутреннего потенциала'
  },
  {
    img: 'вы22.jpg',
    title: 'Самоощущение',
    text: 'Заниженная самооценка, неуверенность, недовольство собой, 
вредные пищевые привычки, немотивированность
 к спорту и физическим нагрузкам'
  },
  {
    img: '222.jpg',
    title: 'Окружение',
    text: 'Трудности проявления себя в социуме, сложности коммуникации, 
конфликты в семье, на работе, с окружающими, чувство 
одиночества, покинутости, изолированности'
  },
  {
    img: '111.jpg',
    title: 'Любовь',
    text: 'Проблемы в отношениях, ревность, страх потери, измены, 
снижение интереса к постоянному партнёру, сексуальные нарушения, 
любовная зависимость, токсичные, созависимые отношения, 
сложности периода расставания, развода'
  },
  {
    img: '4545.jpg',
    title: 'Эмоции',
    text: 'Неконтролируемая агрессия, острое чувство обиды 
или несправедливости, вины, стыда, эмоциональная
скованность или неадекватные телесные реакции'
  },
  {
    img: '15.jpg',
    title: 'Состояния',
    text: 'Апатия, постоянная усталость, потеря радости, беспричинное 
плохое настроение, бессонница, тревожность, 
навязчивые мысли и действия'
  },
  {
    img: '16.jpg',
    title: 'Отношения',
    text: 'Страх знакомства или сложности в общении с окружающими 
людьми, неумение строить и поддерживать близкие 
доверительные взаимоотношения'
  },
  {
    img: '17.jpg',
    title: 'Стресс',
    text: 'Хроническая усталость, эмоциональное и профессиональное
выгорание, отсутствие мотивации, карьерного роста, 
страх неудачи, неверие в себя, непонимание 
векторов развития'
  },
  {
    img: '18.jpg',
    title: 'Сопровождение',
    text: 'психологическая поддержка в сложных жизненных ситуациях, преодолении кризиса 
среднего возраста, при изменении привычного жизненного уклада 
(смена места жительства, рода деятельности, рождение 
ребёнка, сложности декретного периода)'
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__title">
      <h2 class="title title--h2">С какими темами и запросами я работаю:</h2>
    </div>

    <!-- begin features -->
    <div class="features">
      <div class="row justify-content-center">
        {% for i in services %}
        <div class="col-sm-6">
          <!-- begin feature -->
          <div class="feature feature--simple">
            <div class="feature__img">
              <img class="js-lazy" alt="" src="" data-src="./img/features/{{ i.img }}"/>
            </div>

            <div class="feature__title">
              <h5 class="title title--h5">{{ i.title | safe }}</h5>
            </div>

            <div class="feature__text">{{ i.text | safe }}</div>
          </div>
          <!-- end feature -->
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- end features -->
  </div>
</section>
<!-- end section -->