{%set
services = [
  {
    img: 'IMG_5996.jpg',
    title: 'Психологическая консультация',
    text: 'Это формат работы, направленный на решение конкретной проблемы. Выявляются возможные причины проблемы,  способы ее решения, ресурсы, которые помогли бы достигнуть наилучших возможных результатов в данной ситуации. Зачастую это краткосрочная работа, продолжительностью 5-10 сессий 
',
    meta: [
      { icon: 'time', text: 'Длительность - 60 мин. ' },
      { icon: 'dollar', text: 'Первая встреча - 500 грн, последующие - 800 грн. ' },
      { icon: 'copywriting', text: 'Очно, Skype' }
    ]
  },
  {
    img: 'IMG_5999.jpg',
    title: 'Психотерапия',
    text: 'Более глубинный формат работы, целью которого является смягчить или устранить нежелательные симптомы, поменять деструктивные убеждения, способ мышления, привычные неэффективные способы взаимодействия с окружающим миром, изменить отношение человека к самому себе, а так же поспособствовать зрелости и развитию личности в целом. Это процесс требует 10 и более встреч.
',
    meta: [
      { icon: 'time', text: 'Длительность - 60 мин. ' },
      { icon: 'dollar', text: 'Первая встреча - 500 грн, последующие - 800 грн. ' },
      { icon: 'copywriting', text: 'Очно, Skype' }
    ]
  },
  {
    img: 'IMG_5993.jpg',
    title: 'Терапия пар',
    text: 'Эффективный способ решить семейные проблемы,  научиться взаимодействовать друг с другом в пространстве семьи, разрешить конфликты, пережить измену или сложный жизненный период, прийти к компромиссу, достичь гармонии и стабильности. На семейной консультации  у каждого члена семьи есть возможность высказаться, а задача терапевта — обеспечить атмосферу комфортности и безопасности 
для всех участников процесса.',
    meta: [
      { icon: 'time', text: 'Длительность - 90 мин. ' },
      { icon: 'dollar', text: 'Стоимость - 1500 грн' },
      { icon: 'copywriting', text: 'Очно, Skype' }
    ]
  },
  {
    img: 'IMG_5993.jpg',
    title: 'Групповая терапия',
    text: 'Это возможность лучше понять себя с помощью других, так как все, что происходит в жизни, происходит и в группе.
На групповой терапии можно наблюдать в режиме реального времени все сложности, возникающие при взаимодействии с другими людьми. 
У участников группы есть возможность научиться экологично выражать свои чувства, получить поддержку, узнать об эффективных способах общения 
и потренироваться в их применении.',
    meta: [
      { icon: 'time', text: 'Длительность - от 120 мин. ' },
      { icon: 'dollar', text: 'Стоимость - 500 грн' }
    ]
  }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <!-- begin features -->
    <div class="features">
      <div class="row">
        {% for i in services %}
        <div class="col-12">
          <!-- begin feature -->
          <div class="feature feature--full">
            <div class="feature__img">
              <img class="js-lazy" alt="" src="" data-src="./img/features/{{ i.img }}"/>
            </div>
            
            <div class="feature__title">
              <h5 class="title title--h5">{{ i.title | safe }}</h5>
            </div>

            <div class="feature__text">{{ i.text | safe }}</div>

            <div class="feature__meta">
              <!-- begin service-meta -->
              <div class="service-meta">
                {% for j in i.meta %}
                <div class="service-meta__item">
                  <div class="service-meta__icon">
                    {{ mixins.icon(j.icon) }}
                  </div>

                  <em class="service-meta__text">{{ j.text | safe }}</em>
                </div>
                {% endfor %}
              </div>
              <!-- end service-meta -->
            </div>
          </div>
          <!-- end feature -->
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- end features -->
    
  </div>
</section>
<!-- end section -->