<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__title text-left">
      <h2 class="title title--h2">Первая встреча</h2>
    </div>

    <!-- begin article -->
    <div class="article">
      <p><span class="title title--inline title--h5">Первая встреча с психологом </span> – самая волнительная, ведь вы не знаете чего ожидать, как себя вести, что говорить и т.д. Я очень часто слышу подобные впечатления от клиентов, да и помню себя, как я буквально дрожала от тревоги и волнения перед встречей со своим терапевтом. В этой статье, я хочу немного рассказать о том, как происходит первая встреча, в надежде, что это поможет многим понять, что такое консультация с психологом и развеет ложные страхи.</p>

      <p>Первая встреча с психологом чем-то сродни первому свиданию: много тревог, но много и надежд, много волнения и трепета. Так и должно быть, ведь вы доверяете этому человеку свою душу, вы рискуете показаться таким, каким есть и очень надеетесь, что к вам будут бережны, что вас увидят, услышат и поймут, что вам помогут.  Это здоровая реакция и не стоит ее стесняться, если вы уже решились прийти к психологу, то самое время заявить о себе
      и взять то, зачем пришли!</p>

      <p>Однако не стоит ожидать, что за одну встречу вы решите все вопросы и возьмете именно то, чего хотите. Обычно проблемы немного шире, чем они кажутся, и чтоб оказать вам качественную помощь психологу/психотерапевту требуется время, узнать ситуацию так же, как знаете ее вы, и найти способы помочь вам самостоятельно справиться с конкретной ситуацией.</p>

      <p>Давайте, разберемся по порядку, как же происходит первая встреча, как к ней подготовиться и чего от нее ожидать.
        Сначала, вы поняли, что что-то не так как вам хочется/можется/нравится/комфортно и вы поняли, что стоит обратиться к психологу/психотерапевту
        за помощью в решении этой  ситуации. Затем вы находите психолога, известным вам способом (совет друзей-знакомых, фейсбук, гугл поиск, психологические сайты, вопрос к психологам на сайте и т.д.), и договариваетесь о встрече. На самом деле, стадия Подготовки уже началась, 
      как только вы приняли решение, что профессиональная помощь будет вам очень кстати, но перед тем как зайти в кабинет, вы еще можете провести несколько минут и ответив себе на следующие вопросы:</p>

      <ul>
        <li>В чем именно моя сложность?</li>
        <li>Чем психолог может мне помочь справится с этой сложностью?</li>
        <li>Как я вижу конечный результат моей работы с психологом?</li>
        <li>Какие вопросы я хочу задать психологу? Что поможет мне чувствовать себя более комфортно рядом с         психологом?</li>
      </ul>

      <p>Теперь вы точно знаете чего хотите и готовы ко встрече со специалистом, осталось дело за малым: обещайте себе быть очень чувствительным
      и заботиться о себе в кабинете у психолога. Если вдруг вы почувствуете, что вам что-то не нравятся или не подходит, вы сразу же скажете об этом. Потому что эта встреча для вас и о вас, это то, что вы делаете в заботе о себе и вам это должно подходить.</p>
    </div>
    <!-- end article -->
  </div>
</section>
<!-- end section -->

<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__title text-left">
      <h2 class="title title--h2">Как проходит работа</h2>
    </div>

    <!-- begin article -->
    <div class="article">
      <p><span class="title title--inline title--h5">Начинается знакомство с психологом:</span> психолог представляет себя и говорит о своем профессиональном и личном развитии, кроме того, это как раз то место, где вы можете спросить психолога вопросы, что вы могли подготовить дома: как долго он/она практикует? Как долго проходит свою личную терапию? Выдержит ли он/она ваши сильные чувства? Будет ли честен/-на с вами? Это может быть любой вопрос ответ на который поможет вам чувствовать себя  в большей безопасность рядом с конкретным человеком.</p>

      <p>Далее психолог/психотерапевт должен информировать вас о том, как проходят консультации, чего ожидать на консультации и от консультации (обычно здесь вы узнаете, что чудес не бывает и таблетки от проблемы тоже), вас ознакомят с основными правилами психотерапии, такими как открытость и честность, конфиденциальность, ответственность,  что вы должны делать как клиент и что делает психолог/психотерапевт. Важно сказать, что каждый психолог/психотерапевт ведет эту информационную часть по-своему, я бы приглашала вас быть любопытными про это и спрашивать то, что вам непонятно или позволит вам больше понять как работают консультации.  </p>

      <p>Наконец-то настал ваш «звездный» час: работа с Запросом клиента. Вы рассказываете, что же случилось с вами, говорите о том, что для вас важно, в чем ваша сложность и чего бы хотелось получить в конечном итоге. Здесь психолог спросит вас, чем же он/она может быть вам полезным/-ной в этом, а у вас уже есть ответ, вы подготовились! ;) Это самый интересный и самый полезный для вас этап, обычно он занимает много времени, а в последующем займет все время консультации, т.к. организационные вопросы вы решите сейчас – на первой встрече. Психолог будет задавать вам наводящие вопросы и очень много интересоваться о всевозможных подробностях и деталях ситуации и вашей жизни в целом, и о ваших мыслях, особенно много о ваших чувствах. </p>

      <p>Психолог будет заставлять вас уделять гораздо больше внимания себе и говорить в первую очередь о себе. Это, правда, может быть сложно сначала, потому что наш мозг привыкает работать, выполняя определенные задачи, и справится с новой задачей, бывает утомительно, но это нормально и быстро проходит.   Если быть совершенно точной, то хороший психолог/психотерапевт работает как нейрохирург, заставляя ваш мозг находить новые связи и строить новые мыслительные цепочки, а также он помогает вашему мозгу распознавать и блокировать неэффективные мыслительные стратегии, чем, конечно же, помогает вам справляться со сложностями и получать больше удовольствия в жизни.</p>
    </div>
    <!-- end article -->
  </div>
</section>
<!-- end section -->