.contacts
  &__content
    height: 100%
    +flex(center, normal, column)

.contacts-block
  &__title
    color: $white
    margin-bottom: 50px
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 15px
  &__text
    color: $gray-light
  &__block-title
    font-weight: 600
    color: $white
  &__block
    margin-bottom: 30px
    +md
      margin-bottom: 15px