.form
  text-align: center
  &__subttl
    margin-bottom: 30px
    +md
      margin-bottom: 15px
  &__field
    +notlast
      margin-bottom: 30px
      +md
        margin-bottom: 15px

.input, .textarea
  input, textarea
    width: 100%
    background-color: transparent
    overflow: hidden
    height: 32px
    padding: 5px 0
    border-bottom: 1px solid  $gray-light
    +tr(border-color .3s)
    &:focus
      border-color: $accent

.textarea
  &--lg
    textarea
      min-height: 100px      
      +sm
        min-height: 80px
